.footer__span_type_phone {
  color: #ffffff;
  text-decoration: none;

  &::before {
    content: url("../../..//img/icon-phone.svg");

    width: 7.5px;
    height: 7.5px;

    margin: 0;
    padding: 0;
    margin-right: 5px;
  }
}
