.guitar__price {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 15px;
  letter-spacing: 0.05em;
  color: #000000;

  margin: 0;
  padding: 0;
  margin-right: auto;

  align-self: center;
}
