@font-face {
  font-display: swap;
  font-family: 'Droid Sans';
  src: url('./DroidSans.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: 'Droid Sans';
  src: url('./DroidSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
