.pages__button-next {
  width: 80px;
  height: 24px;

  margin: 0;
  padding: 0;

  background: #ffffff;
  border: 0.7px solid #9f9e9e;
  box-sizing: border-box;
  border-radius: 2px;

  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.05em;
  color: #000000;

  cursor: pointer;
}
