.footer__contacts-text {
  display: flex;
  flex-direction: column;

  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.1em;
  color: #ffffff;

  margin: 0;
  padding: 0;
  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 5px;
  }
}
