@import "./__list/pages__list.scss";
@import "./__item/pages__item.scss";
@import "./__button/pages__button.scss";
@import "./__button/_active/pages__button_actiev.scss";
@import "./__button-next/pages__button-next.scss";

.pages {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  box-sizing: border-box;
  width: 100%;
  min-width: 1020px;

  margin: 0;
  padding: 30px 40px;
}
