.filter__submit {
  width: 120px;
  height: 30px;

  background: #c1c1c1;

  border: none;
  border-radius: 2px;

  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #ffffff;

  margin: 0;
  padding: 0;
  margin-top: 10px;
  cursor: pointer;
}
