.basket__code {
  width: 170px;
  height: 36px;

  margin: 0;
  padding: 10px;
  margin-right: 33px;

  border: 2px solid #dddada;

  box-sizing: border-box;

  border-radius: 2px;

  background: inherit;

  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 15px;
  letter-spacing: 0.05em;
  color: #000000;
  text-align: center;
  text-transform: uppercase;

  &:hover,
  &:focus {
    border: 2px solid #585757;
  }

  &:active {
    border: 2px solid #c1c1c1;
  }
}
