.basket__checkout {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 220px;
  height: 36px;

  margin: 0;
  padding: 0;

  background: #e27f00;

  border-radius: 2px;

  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 15px;
  letter-spacing: 0.05em;
  color: #ffffff;
  text-decoration: none;

  cursor: pointer;

  &:hover,
  &:focus {
    background: #ffe839;
  }

  &:active {
    background: #da8b26;
  }
}
