.filter__price-input {
  border: 0.7px solid #9f9e9e;
  box-sizing: border-box;
  border-radius: 2px;

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 10px;
  letter-spacing: 0.05em;
  color: rgba(0, 0, 0, 0.6);
  text-align: center;

  width: calc(50% - 20px);

  margin: 0;
  padding: 5px;

  &:hover,
  &:focus {
    border: 0.7px solid #585757;
  }

  &:active {
    border: 0.7px solid #c1c1c1;
  }
}
